<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AllUserController</servlet-name>
        <servlet-class>controller.AllUserYouMayKnowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfor</servlet-name>
        <servlet-class>controller.UserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFriendController</servlet-name>
        <servlet-class>controller.AddFriendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllRequestFriendSent</servlet-name>
        <servlet-class>controller.SuggestFriendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelRequestFriendController</servlet-name>
        <servlet-class>controller.CancelRequestFriendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFriendController</servlet-name>
        <servlet-class>controller.RemoveFriendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptFriendController</servlet-name>
        <servlet-class>controller.AcceptFriendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddColleagueController</servlet-name>
        <servlet-class>controller.AddColleagueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelColeagueController</servlet-name>
        <servlet-class>controller.CancelColeagueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFriend</servlet-name>
        <servlet-class>controller.ShowFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestFriendSentController</servlet-name>
        <servlet-class>controller.RequestFriendSentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRequestFriendController</servlet-name>
        <servlet-class>controller.ListRequestFriendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DontAcceptRequestFriend</servlet-name>
        <servlet-class>controller.DontAcceptRequestFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowColleagueController</servlet-name>
        <servlet-class>controller.ShowColleagueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDocumentController</servlet-name>
        <servlet-class>controller.CreateDocumentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllDocumentController</servlet-name>
        <servlet-class>controller.AllDocumentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentController</servlet-name>
        <servlet-class>controller.DocumentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeDocumentController</servlet-name>
        <servlet-class>controller.LikeDocumentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DislikeDocumentController</servlet-name>
        <servlet-class>controller.DislikeDocumentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentDocumentController</servlet-name>
        <servlet-class>controller.CommentDocumentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentDocumentController</servlet-name>
        <servlet-class>controller.DeleteCommentDocumentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDocumentController</servlet-name>
        <servlet-class>controller.DeleteDocumentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeCommentController</servlet-name>
        <servlet-class>controller.ChangeCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDocumentController</servlet-name>
        <servlet-class>controller.ChangeDocumentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllUserController</servlet-name>
        <url-pattern>/AllUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfor</servlet-name>
        <url-pattern>/UserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFriendController</servlet-name>
        <url-pattern>/AddFriendController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllRequestFriendSent</servlet-name>
        <url-pattern>/AllRequestFriendSent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelRequestFriendController</servlet-name>
        <url-pattern>/CancelRequestFriendController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFriendController</servlet-name>
        <url-pattern>/RemoveFriendController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptFriendController</servlet-name>
        <url-pattern>/AcceptFriendController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddColleagueController</servlet-name>
        <url-pattern>/AddColleagueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelColeagueController</servlet-name>
        <url-pattern>/CancelColeagueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFriend</servlet-name>
        <url-pattern>/ShowFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestFriendSentController</servlet-name>
        <url-pattern>/RequestFriendSentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRequestFriendController</servlet-name>
        <url-pattern>/ListRequestFriendController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DontAcceptRequestFriend</servlet-name>
        <url-pattern>/DontAcceptRequestFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowColleagueController</servlet-name>
        <url-pattern>/ShowColleagueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDocumentController</servlet-name>
        <url-pattern>/CreateDocumentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDocumentController</servlet-name>
        <url-pattern>/AllDocumentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentController</servlet-name>
        <url-pattern>/DocumentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeDocumentController</servlet-name>
        <url-pattern>/LikeDocumentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DislikeDocumentController</servlet-name>
        <url-pattern>/DislikeDocumentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentDocumentController</servlet-name>
        <url-pattern>/CommentDocumentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentDocumentController</servlet-name>
        <url-pattern>/DeleteCommentDocumentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDocumentController</servlet-name>
        <url-pattern>/DeleteDocumentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCommentController</servlet-name>
        <url-pattern>/ChangeCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDocumentController</servlet-name>
        <url-pattern>/ChangeDocumentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
