/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2018, 6:04:05 PM
    Author     : Hoang Hiep
*/

.bigLeft{
    float: left;
    width: 70%;
    position: relative;
    border: 1px solid black;
}
.bigRight{
    float: right;
    width: 25%;
    position: relative;
    border: 1px solid black;
}

div{
    border: 1px solid black;
    position: relative;
}